:root {
    --main-color: #0078FD;
    --main-color-light: #ADD9FF;
    --secondary-color: #9992e8;
    --card-color: #5e6d7f;
}

.main-color-text {
    color: var(--main-color);
}

.card-color-text {
    color: var(--card-color);
}

.main-color-bg {
    background-color: var(--main-color);
}

.main-color-light-text {
    color: var(--main-color-light);
}

.main-color-light-bg {
    background-color: var(--main-color-light);
}

.secondary-color-text {
    color: var(--secondary-color);
}

.secondary-color-bg {
    background-color: var(--secondary-color);
}

.white-color-bg {
    background-color: white;
}

.white-text {
    color: white;
}

.gray-color-bg {
    background-color: #333333;
}