@import "reset.css";
@import "general.css";
@import "colors.css";

.container {
    padding: 0 1.25rem;
    background-color: var(--first-color);
}

/* HEADER */

.header-main-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.header-main-content > div {
    padding: 10px;
}

.header-main-content .nav-container {
    display: none;
}

.header-main-content .nav-container ul {
    display: flex;
    list-style: none;
}

.header-main-content .nav-container ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.logo-container {
    padding: 10px;
}

.nav-container ul {
    align-items: center;
}

.hamburger-container > i {
    color: white;
    font-size: 2em;
}


/* MAIN */

main section {
    padding: 2.5rem 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.625rem;
    align-items: stretch;
}

.card {
    width: calc(100% - 1.25rem);
    margin: 0 0.625rem 1.25rem;
}

.card > div {
    padding: 0.625rem;
    border-radius: 0.625rem;
}

.card-right {
    border-radius: 1.5rem;
    padding: 1.5rem;
}

.card-right > div {
    justify-content: center;
}

.card-right > div > img {
    width: 60%;
    height: auto;
}

main section:nth-child(2) .cards {
    align-items: flex-end;
}

main section:nth-child(2) .white-text * {
    padding: 1.25rem 0;
}

#section-2-black-text * {
    padding: 1.25rem 0;
    text-align: center;
}

#purple-arrow {
    border: none;
    border-radius: 50%;
    background-color: var(--secondary-color);
    padding: 0 1.25rem;
}

#purple-arrow i {
    font-size: 2.5em;
}

.main-card-img {
    display: flex;
    justify-content: center;
    margin-bottom: -0.625rem;
    padding-bottom: 0;
    padding: 0 2.5rem;
}

.main-card-img img {
    padding-top: 1.5rem;
}

.main-card-text > * {
    padding-bottom: 1.25rem;
    padding-left: .625rem;
}

.button-container {
    display: flex;
    padding: 0;
    width: 100%;
    justify-content: center;
}

#app-store-button {
    color: white;
    background-color: var(--main-color);
    margin: 0;
}

.main-card-content > *:not(.main-card-img) {
    padding: 1rem 0;
}

.main-headings {
    text-align: center;
    padding: 0 0.625rem;
    margin-bottom: 1.25rem;
}

.main-headings * {
    padding: 1.25rem 0;
}

#testimonial-subtitle {
    font-weight: 200;
}

#testimonial-title {
    font-size: 2.5em;
}

.testimonial-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
}

.testimonial-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    
}

.testimonial-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.testimonial-content > div {
    padding: 1rem 0;
}

.card.secondary-color-bg {
    width: 100%;
    border-radius: .625rem;
}

main > .secondary-color-bg .card {
    width: 100%;
}

main section:nth-child(4) .container .cards .card {
    border-radius: 1.25rem;
}

h3.main-color-text {
    font-size: 1.5rem;
}

.big-i i {
    font-size: 5rem;
 }

.base-button {
    background-color: white;
    border: none;
    border-radius: 1.25rem;
    padding: .625rem .9375rem;
    font-weight: bold;
    margin-left: 1.25rem;
}

.section-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.section-container .cont-70,
.section-container .cont-30 {
    width: 100%;
    margin-bottom: 1.25rem;
    display: inline-block;
    vertical-align: top;
}

.cont-70 * {
    padding: 1.25rem 0;
}

.cont-30 *:not(i) {
    padding: 1rem 0;
}

#about-pic-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#about-pic {
    border-radius: 50%;
    width: 50%;
}

#linkedin-button {
    padding: .625rem;
}

#free {
    color: #f5bd69;
    font-size: 3em;
}

footer * {
    color: white;
}

.testimonial {
    padding: .625rem;
    border-radius: 1.25rem;
    margin: 1.25rem 0;
}

.testimonial .testimonial-img {
    width: 12.5rem;
    height: 12.5rem;
    flex-shrink: 0;
    margin: 0 auto;
}

.testimonial .testimonial-img img {
    display: block;
}

.testimonial .testimonial-content {
    flex-grow: 1;
}

.purple-button {
    background-color: var(--secondary-color);
    padding: .625rem  1.5625rem;
    color: white;
}

main section:nth-child(4) .cards .card > * {
    padding: .625rem .9375rem;
}

/* RESPONSIVE */

/* TABLET */
@media screen and (min-width: 768px) {
    /* HEADER */
    /* MAIN */
    .card {
        width: calc((100% / 3) - 1.25rem);
    }

    main section:first-child .card:first-child {
        width: calc(((100% / 3) * 2) - 1.25rem);
    }

    .section-container .cont-70 {
        width: 70%;
        padding-right: 1.25rem;
    }
    .section-container .cont-30 {
        width: 30%;
    }

    .button-container {
        justify-content: flex-start;
    }

    .small-container {
        width: 50%;
    }  

    .testimonial {
        display: flex;
        text-align: left;
    }

    .cards, .card {
        height: 100%;
    }

    .main-card-img {
        width: 70%;
        padding: 0 auto;
    }

    main section:nth-child(4) .container .cards .card {
        width: calc((100% / 2) - 1.25rem)
    }
}

/* DESKTOP */
@media screen and (min-width: 992px) {
    /* HEADER */
    .header-main-content .hamburger-container {
        display: none;
    }

    .header-main-content .nav-container {
        display: block
    }
    /* MAIN */

    .card .main-card-content.flexed {
        display: flex;
    }

    main section:first-child .main-card-content > div {
        width: 50%;
    }

    main section:nth-child(2) .container .cards {
        justify-content: space-around;
    }

    main section:nth-child(2) .container .cards .card {
        display: inline-block;
        width: calc(50% - 1.25rem);
        align-items: flex-end;
    }

    .main-card-img img {
        width: 15rem;
    }

    main section:nth-child(4) .container .cards .card {
        width: calc((100% / 3) - 1.25rem)
    }
}

