@import "reset.css";
@import "general.css";
@import "colors.css";

.container {
    padding: 0 1.25rem;
    background-color: var(--first-color);
}

/* HEADER */

.header-main-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.header-main-content > div {
    padding: 10px;
}

.header-main-content .nav-container {
    display: none;
}

.header-main-content .nav-container ul {
    display: flex;
    list-style: none;
}

.header-main-content .nav-container ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.logo-container {
    padding: 10px;
}

.hamburger-container > i {
    color: white;
    font-size: 2em;
}


/* MAIN */

main section {
    padding: 2.5rem 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.625rem;
}

.card {
    width: calc(100% - 1.25rem);
    margin: 0 0.625rem 1.25rem;
}

.card > div {
    padding: 0.625rem;
    border-radius: 0.625rem;
}

.card-right {
    border-radius: 1.25rem;
}

.main-headings {
    text-align: center;
    padding: 0 0.625rem;
    margin-bottom: 1.25rem;
}

.card.secondary-color-bg {
    width: 100%;
    border-radius: 10px;
}

main section:nth-child(4) .container .cards .card {
    border-radius: 1.25rem;
}

.section-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.section-container .cont-70,
.section-container .cont-30 {
    width: 100%;
    margin-bottom: 1.25rem;
    display: inline-block;
    vertical-align: top;
}

#free {
    color: #f5bd69;
    font-size: 3em;
}



/* RESPONSIVE */

/* TABLET */
@media screen and (min-width: 768px) {
    /* HEADER */
    /* MAIN */
    .card {
        width: calc((100% / 3) - 1.25rem);
    }

    main section:first-child .card:first-child {
        width: calc(((100% / 3) * 2) - 1.25rem);
    }

    .section-container .cont-70 {
        width: 70%;
        padding-right: 1.25rem;
    }
    .section-container .cont-30 {
        width: 30%;
    }

    .small-container {
        width: 50%;
    }
    
}

/* DESKTOP */
@media screen and (min-width: 992px) {
    /* HEADER */
    .header-main-content .hamburger-container {
        display: none;
    }

    .header-main-content .nav-container {
        display: block
    }
    /* MAIN */

    .card .main-card-content {
        display: flex;
    }

    .card .main-card-content > div {
        width: 50%;
    }
}

